* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {

  height: 100%;
  background-color: #b5b5b5;
  background: linear-gradient(180deg, #b1b2b3 100%, #f6cba094 70%);
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px; 
}

#comp-img{
  width: 250px;
}

/* Add more styling for other elements if needed */

/* NAVBAR */
.logo {
  height: 100px;
  background-color:#b1b2b3;
  border:3px solid #232323;
  height:100px;
  border-radius:50%;
  justify-self: center;
}
.NAVBAR i {
  font-size: 40px;
margin-top: 25px;
margin-right: 0px;
justify-self: end;
color: #232323;
list-style-type: none;
text-decoration: none;

}
.shoppingCartIcon {
  justify-self: end;
  margin-right: 50px;
  margin-top: 12px;
}

.NAVBAR {
  background-color: #f6cba094;
  background: linear-gradient(180deg, #f6cba094 50%, #b1b2b3 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
padding-top: 20px;
padding-bottom: 20px;
height: 200px;
}

/* nav bar menu button code*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #000000;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 150px;
  height: 1000px;
  margin: -100px 0 0 -50px;
  padding: 35px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/*
ALLPRODUCTS CSS */


.add-edit-productsAdminContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 padding: 10px;

 background-color: 	#CAC8C8;
 padding: 2px;
 border-radius: 25px;
 border: 4px outset rgb(96, 96, 96);
 padding: 20px;
 margin: 5px;
 animation: coffee .3s infinite linear;
}
.adminHeader {
  display: flex;
  justify-content: center;

}

.coffee {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #50545c;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px;
  width: 250px;
}


.coffee:hover,
.coffee:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.coffee:active {
  background: var(--color);
  color: #fff;
}


/* .coffee {
  display:flex;
  padding: 2px;
  border-radius: 25px;
  border: 4px outset burlywood;
  padding: 20px;
  margin: 5px;
background-color:#fffbf8 ;
}
.coffee:hover {
transition-duration: 350ms;
  transform: scale(1.05);

} */


.coffee img {
  border: 4px solid rgb(215, 215, 215);

align-content: center;
  height: 200px;
}

a {
  text-decoration: none;
}

.coffee h1 {
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 30px;
  color: #3d3d3d;
}
.coffee h2 {
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color:#3d3d3d;
}





/* foot */
.footer{
  display: grid;
grid-template-columns: 1.5fr repeat(3, .5fr) 1.5fr;
grid-template-rows: 1fr repeat(2, .5fr);
grid-column-gap: 6px;
grid-row-gap: 6px;
  background-color: #232323;
}

.footerTitleLink{
  color: rgb(26, 160, 160);
font-size: 35px;
position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
margin-left: 7px;
margin-bottom: 7px;

  }
  .footerProductsLink{
    color: aqua;

margin-top: 100px;
margin-left: 2px;
margin-right: 1px;
margin-bottom: 3px;
padding: 2px;
  border-radius: 25px;
  border: 4px outset burlywood;
  background-color: rgba(162, 208, 248, 0.473);
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
    }
    .footerAccountLink{
      color: aqua;
margin-left: 2px;
margin-top: 10px;
margin-bottom: 10px;
padding: 15px;
  border-radius: 25px;
  margin-right: 1px;
  border: 4px outset burlywood;
  background-color: rgba(162, 208, 248, 0.473);
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
      }

      .footerAdminLink{
        color: aqua;
        margin-left: 2px;
        margin-bottom: 25px;
        padding: 3px;
        padding-top: 2.3px;
        margin-right: 1px;
        border-radius: 25px;
        border: 4px outset burlywood;
background-color: rgba(162, 208, 248, 0.473);
position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
        }



.mediaIcon {
width: 50px;
  background-color:#fff;
  border:1px solid rgb(0, 0, 0);
  height:auto;
  border-radius:50%;
}

.footerLogoContainer{
  background-color:#fff;
  border:1px solid rgb(27, 27, 27);

  border-radius:25%;
  width: 150px;
  height:150px;
margin-top: 15px;
margin-left: 15px;
  }


  /* account */
  .account {
background-color: #CAC8C8;
font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 25px;
  border: 4px ridge rgb(168, 168, 168);
  padding: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account h1{
  color: #3d3d3d;
  justify-self: center;
  margin: 10px;
  font-size: 40px;
}
.account h3{
  color: #3d3d3d;
  margin: 7px;
  font-size: 25px;

}
.account h4{
  color: #3d3d3d;
  margin-bottom: 17px;
  font-size: 25px;

}
.logOutButton {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #3d3d3d;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.logOutButton:hover,
.logOutButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.logOutButton:active {
  background: var(--color);
  color: #fff;
}

/* i think we can delete this...*/
.out{
  padding: 100px;
  padding-bottom: 450px;
}

/*login css*/
.loginContainer {
  justify-content: center;
  display: flex;
  margin: 100px;
  flex-direction: column;
  text-align: center;
font-size: 30px;
}

/* login form styling 
p.s. can copy and past edit classname to be more specific
for register component */
.loginContainer input{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color:#dadada;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
margin-bottom: 10px;
  :focus{
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
  }
}

.loginContainer h2 {
  text-align: center;
}

/* admin login */
.adminLoginContainer {
  justify-content: center;
  display: flex;
  margin: 100px;
  flex-direction: column;
  text-align: center;
font-size: 30px;
}

.adminLoginContainer h2 {
  text-align: center;
}

/* admin login form styling */
.adminLoginContainer input{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color:#dadada;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
margin-bottom: 10px;
  :focus{
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
  }
}

.loginButton {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #000000;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.logOutButton:hover,
.logOutButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.logOutButton:active {
  background: var(--color);
  color: #fff;
}

.adminAddContainer{
  border: 4px ridge rgb(168, 168, 168);
margin-bottom: 10px;
}

.adminEditContainer{
  border: 4px ridge rgb(168, 168, 168);
margin-bottom: 10px;
}

.admin-add-editForm{
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}
.admincontain .admin-add-editForm input{
  padding-right: 15px;
  margin: 10px;
}


.admin-add-editForm input{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color:#dadada;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
margin-bottom: 10px;
  :focus{
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
  }
}

.admincontain label{
  font-size: 33px;
  margin: 10px;
  justify-content: center;
  display: flex;
}

.adminAllProductsContainer{ 
border: 4px ridge rgb(168, 168, 168);
margin: 5px;
flex-direction: row;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.adminSingleProductView {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #50545c;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px;
  width: 250px;
  text-overflow: ellipsis;
}

.redbutton {
  background-color: #f97e71;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  margin: 10px;
}

.redbutton:hover {
  background-color: #fff;
}

.redbutton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .redbutton {
    min-width: 120px;
    padding: 0 25px;
  }
}

.adminSingleProductView img {
  border: 4px solid rgb(215, 215, 215);

align-content: center;
  height: 200px;
}

a {
  text-decoration: none;
}

.adminSingleProductView h1 {
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 30px;
  color: #3d3d3d;
}
.adminSingleProductView h2 {
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color:#3d3d3d;
}

.usersListContainer{
  margin: 25px;
  border: 4px ridge rgb(168, 168, 168);

}
.usersListHeader{
  margin: 10px;
}
/*single product view css*/
.singleProductContainer{
  margin: 10px;
  padding: 10px;
  display:flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 100px;
  flex-direction: column;
}
.singleProductImg{
  height:250px;
  border-radius: 25px;
  margin-bottom: 15px;
}

.name-description-container {
display: flex;
flex-direction: column;
max-width: 550px;
}

.singleProductHeader {
  align-self: center;
  margin-bottom: 25px;
}

.single-description {
  margin-left: 25px;
  font-size: 25px;
}

.image-price-roast{
  display: flex;
  flex-direction: column; ;
}

.sincartfoot{
 margin-top: 20px;
 align-items: flex-start;
 flex-direction: row;
 display: flex;
 justify-content: center;
}

.foote{
margin: 5px;
justify-content: center;
display: flex;
}


.foote h3 {
 cursor:default
}

.image-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.single-price-roast {
  margin: 5px;
  font-size: 20px;
}

/* css code for cart features*/ 

.remove-from-cart {
  margin-left: auto;
}


.decrease-in-cart {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.decrease-in-cart:hover,
.decrease-in-cart:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.decrease-in-cart:active {
  background: var(--color);
  color: #fff;
}

.increase-in-cart {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .increase-in-cart:hover,
  .increase-in-cart:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }

  .increase-in-cart:active {
    background: var(--color);
    color: #fff;
  }

  .remove-from-cart {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .remove-from-cart:hover,
  .remove-from-cart:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }

  .remove-from-cart:active {
    background: var(--color);
    color: #fff;
  }
/* --------------------------------- */

.add-to-cart-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.add-to-cart-button:active {
  background: var(--color);
  color: #fff;
}


.button-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-direction: row;
}

.in-cart-buttons {
  display: flex;
  margin-top: 50px;
  font-size: 20px;
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

.remove-from-cart {
  margin-left: auto;
}



.add-to-cart-button {
  font-size: 20px;
  width: 100%;
  max-width: 530px;
  margin-top: 50px;
}

/* return feature */
 
.return-to-products-button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.return-to-products-button:hover,
.return-to-products-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.return-to-products-button:active {
  background: var(--color);
  color: #fff;
}

.return-to-products-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; 
  width: 100%;  
}

.return-to-products-button {
  font-size: 20px; 
  width: 100%;
  max-width: 950px;   
}

.logout{
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 400px;
  margin-left: 10px;
  margin-right: 10px;
}
 
#search-bar-container {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-self: center;
  width: 200px;
}

.homePageBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}